<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76436391410-opfo2imfvr78s0bafa6ic8qq04cjegn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76436391410-opfo2imfvr78s0bafa6ic8qq04cjegn9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>76436391410-fi09jt9pr93e9n1s3l6qk378rnn4ntmi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBantElAl_-tC9Hw5FgfIdrnO0F35kg5pM</string>
	<key>GCM_SENDER_ID</key>
	<string>76436391410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greentreelabs.studio</string>
	<key>PROJECT_ID</key>
	<string>studio-977ad</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-977ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76436391410:ios:b48a254cc084c5b443176b</string>
	<key>DATABASE_URL</key>
	<string>https://studio-977ad.firebaseio.com</string>
</dict>
</plist>